<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->

<style>
    th{ 
        color:#fff;
            }
</style>

<form id="searchForm" action="javascript:search();">
    <div class="input-group">
       <input type="text" id="searchItem" class="form-control" placeholder="Search data...">
       <button id="go" class="btn btn-default" type="button" 
            onclick="document.getElementById('searchForm').submit();">Go
       </button>
    </div>
 </form>


<table class="table table-striped table-bordered">
    <tr  class="bg-info">
        <% headerAdded = false %>
        <% console.log('jsonData',jsonData) %>
        <% console.log('jsonData',typeof(jsonData)) %>
        <% for(jsonObj of jsonData){ %>
            
            <% if(!headerAdded){ %>
            <tr>
            <%   for (const property in jsonObj) { %>
                <%  console.log(`${property}: ${jsonObj[property]}`) %>
                <th id="<%= property %>" onclick="myFunction('<%= property %>','<%= JSON.stringify(jsonData) %>')"
                     data-column="<%= property %>" data-order="desc" style="color:black;">
                     <%= property %> &#9650</th>
                <% headerAdded = true %>
            <% } %>
            </tr>
            <% } %>
                
        <% } %>  
           
    </tr>

    <tbody id="myTable">
            <%- include('table_data', jsonData) %>
    </tbody>
</table>

<script>

localStorage. setItem("pattern", "");
function search() {
    // localStorage. setItem("pattern", "");
   //  var rows = document.getElementsByTagName('tr');
   //  for(let j = 0;j < rows.length; j++ ){
   //      rows[j].style.backgroundColor = "white";
   //  }
    var name = document.getElementById("searchForm").elements["searchItem"].value;
    var pattern = name.toLowerCase();
    console.log('input pattern',pattern)
    localStorage. setItem("pattern", pattern);
    var targetId = "";
  
    // var divs = document.getElementsByClassName("row-data");
    // divs.innerHTML = "";

    // console.log('divs',divs);
    let divs = document.getElementsByClassName("row-data");
    console.log('divs',divs);
    for (let i = 0; i < divs.length; i++) {
        var child = divs[i].children;
        console.log('child',child);
        for(let j=0; j<child.length; j++){
            console.log(child[j].innerText.toLowerCase());
          let index =  child[j].innerText.toLowerCase().includes(pattern);
          console.log(index);
          if(index){
            // divs[i].innerHTML = "";
            divs[i].style.display = "table-row";
            break;
          }else{
            console.log(j," ",child.length-1)
            if(j == child.length-1){
                // divs[i].innerHTML = "";
                divs[i].style.display = "none";
            }
          }
          
        }
      //  var index = divs[i].innerText.toLowerCase().indexOf(pattern);
      //  if (index != -1) {
      //     targetId = divs[i].parentNode.id;
      //     document.getElementById(targetId).scrollIntoView();
      //     document.getElementById(targetId).style.backgroundColor = 'orange';
      //     break;
      //  }
    }  
 }

    // console.log("inside script",jsonData);
	// var myArray = [
	//     {'name':'Michael', 'age':'30', 'birthdate':'11/10/1989'},
	//     {'name':'Mila', 'age':'32', 'birthdate':'10/1/1989'},
	//     {'name':'Paul', 'age':'29', 'birthdate':'10/14/1990'},
	//     {'name':'Dennis', 'age':'25', 'birthdate':'11/29/1993'},
	//     {'name':'Tim', 'age':'27', 'birthdate':'3/12/1991'},
	//     {'name':'Erik', 'age':'24', 'birthdate':'10/31/1995'},
	// ]

	// $('th').on('click', function(){
        function myFunction(tdId, myArray){
        console.log('myArray',myArray);  
        console.log('typeof(myArray)',typeof(myArray));
        myArray = JSON.parse(myArray);  
        console.log('myArray',myArray);
		var column = $('#'+tdId).data('column')
		var order = $('#'+tdId).data('order')
		var text = $('#'+tdId).html()
		text = text.substring(0, text.length - 1)

		if(order == 'desc'){
			$('#'+tdId).data('order', "asc")
			myArray = myArray.sort((a,b) => a[column] > b[column] ? 1 : -1)
			text += '&#9660'

		}else{
			$('#'+tdId).data('order', "desc")
			myArray = myArray.sort((a,b) =>{
                    console.log('a[column]' , a[column] )
                    console.log('typeof(a[column])' , typeof(a[column]) );
                return a[column] < b[column] ? 1 : -1
            })
			text += '&#9650'

		}
		$('#'+tdId).html(text)
		buildTable(myArray)
	}

	// buildTable(myArray)

	function buildTable(data){
		var table = document.getElementById('myTable')
		table.innerHTML = ''
        let pattern = localStorage. getItem("pattern");
        console.log(pattern);
        let display_type = "none";
		for (jsonObj of data){
            for (let property in jsonObj) { 
                //    console.log('jsonObj',jsonObj) ;
                //    console.log('jsonObj[property]',jsonObj[property])
                   let tempStr = jsonObj[property].toString();
                   console.log(tempStr);
                   console.log(typeof(tempStr));
                   console.log(pattern," ",tempStr.includes(pattern));
                if(tempStr.includes(pattern)) {
                    display_type = "table-row";

                    break;
                }
            }    
			var row = `<tr style="display:${display_type};" class="row-data">`;
                for (let property in jsonObj) { 
                    row += `<td>${jsonObj[property]}</td>`;
                } 
            row += `</tr>`;       
			table.innerHTML += row;
            display_type = "none";
		}
	}

</script>
